<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color:rgb(0, 0, 0);" >
    <h1>Welcome to Progress Tracker</h1>
    <p>Track your progress with simplicity and aesthetics.</p>
  </body>
</html>
